p{
    font-size:20px;
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.uppercase{
    text-transform: uppercase;

}
.lowercase{
    text-transform: lowercase;

}
.capitalize{
    text-transform: capitalize; 

}
.ident{
    text-indent: 50px;

}
.shadow{
    text-shadow: 1px 1px rgb(81, 0, 255);

}
.shadow-blur{
    text-shadow: 1px 1px red

}
.overline{
    text-decoration: overline;

}
.line-trough{
    text-decoration:line-through;
}
.underline{
    text-decoration:underline ;
}
.overline-underline{
    text-decoration: overline line-through underline;
}
